<div id="menu-toggle" class="dropdown">
      <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        <i class="fa fa-bars fa-2x"> <span style="font-size:17px;">Menu</span></i>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#">Items</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">{{name}}</a></li>
      </ul>
    </div>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="container">
            <div class="navbar-sm">
               <div class="navbar-primary">
                   <nav class="navbar navbar-static-top" role="navigation">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                          </button>
                      </div>
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                          <ul class="nav navbar-nav">
                              <li><a href="#about" class="scroll">About</a></li>
                              <li><a href="#services" class="scroll">Fonctionalités</a></li>
                              <li><a href="#mobile" class="scroll">Mobile</a></li>
                              <li><a href="#portfolio" class="scroll">Contact</a>
                          </ul>
                      </div><!-- /.navbar-collapse -->
                  </nav>
              </div>
            </div>
            <div class="vert-text">
                <div class="row">
                    <div class="container">
                        <h1>In Which Bin</h1>
                    </div>
                </div>

                <h3>Entrez le nom ou le codebarre d'un produit <br> pour savoir comment il se recycle</h3>
                <form class="form-inline" role="form">
                    <input type="text" ng-model="query" class="form-control input-lg" id="query" name="query" placeholder="barcode or name">
                    <button type="submit" class="btn btn-default btn-lg" ng-click="submitForm($event)">Go!</button>
                </form>
            <a href="#about" class="btn btn-default btn-lg no-backround solid-border scroll">InWhichBin project</a>
            </div>
        </div>
        <div class="to-top">
            <a href="#top" class="icon scroll"><i class="fa fa-chevron-circle-up fa-5x"></i></a>
        </div>    
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 text-center">
                    <h2>Un moyen efficace pour le tri des déchets !</h2>
                    <p class="lead">Trier ses déchets c'est permettre leur transformation en nouveaux objets, ce qui a pour conséquence la réduction de la pollution et la préservation des ressources naturelles. Le but du projet <em>In Wich Bin</em> est de participer à la préservation de l'environnement en proposant un moyen de savoir comment trier ses déchets selon l'endroit où on se trouve.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Fonctionalités</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa  fa-barcode"></i>
                        <h4>Code-barre</h4>
                        <p>Rechercher un produit à l'aide de son code-barre ou de son nom et obtenez des informations sur comment le trier.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-tablet"></i>
                        <h4>Application Mobile</h4>
                        <p>L'application mobile vous permet de scanner directement le code-barre d'un produit et d'obtenir et de trouver les bacs à ordures les plus proches.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-map-marker"></i>
                        <h4>Localisation</h4>
                        <p>Grâce à vos coordonnées géographique et l'API google Maps, nous vous indiquons les bac à ordures et les déchèteries les plus proches.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-users"></i>
                        <h4>Communauté</h4>
                        <p>Devenez gratuitement membre de notre communauté et participer vous aussi à la préservation de l'environnement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div id="mobile" class="callout">
        <div class="vert-text">
            <h1>Téléchargez l'application</h1>
        </div>
        <div class="row pull-down">
            <div class="container">
                <a class="btn btn-lg solid-border" target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.youtube">
                    <i class="fa fa-android fa-2x pull-left"></i> Android<br>Play Store</a>
                <a class="btn btn-lg solid-border" target="_blank" href="https://itunes.apple.com/us/app/youtube/id544007664?mt=8&ign-mpt=uo%3D2">
                    <i class="fa fa-apple fa-2x pull-left"></i> Apple<br>Store</a>
            </div>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Triez vos déchets</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/usine-dechets.jpg">
                        </a>
                        <h4>Décheteries</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/bac-ordures.jpg">
                        </a>
                        <h4>Bac à ordures</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/collecte.jpg">
                        </a>
                        <h4>Collectes</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/recyclage-piles.jpg">
                        </a>
                        <h4>Super marché</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Trouvez les poubelles et décheteries les plus proches.</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map -->
    <div id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-google-plus fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    
    
