/*-----------------------------------
	nav bar css
	Everything starts with .sr class
------------------------------------*/

.sr .navbar,
.si .navbar,
.ei .navbar{
	height: 50px;
	background: #0a5175;
	width: 100%;
}

.inline-header{
	display:inline-block;
	float: left !important;
}

.sr .logo,
.si .logo,
.ei .logo {
	width: 200px;
	height: 50px;
	
}

.sr .search-bloc,
.si .search-bloc,
.ei .search-bloc {
	width: 700px;
	height: 50px;
}

.sr .other,
.si .other 
.ei .other, {

	width: 200px;
	height: 50px;
}
.sr .logo, .sr .search-bloc, .sr .other,
.si .logo, .si .search-bloc, .si .other, 
.ei .logo, .ei .search-bloc, .ei .other
{
	display: table;
}

.sr .indiv,
.si .indiv,
.ei .indiv {
	display: table-cell;
	vertical-align: middle;
}

.sr .logo h4,
.si .logo h4,
.ei .logo h4  {
	color: white;
	font-weight: bold;
	text-align: center;
}

.no-radius {
	border-radius: 0px 0px 0px 0px !important;
}

.no-radius-input {
	border-top-left-radius: 2px !important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 2px !important;
}

.sr .input-group,
.si .input-group,
.ei .input-group{
	width: 700px;
	height: 30px;
}

.sr .input-group-btn,
.si .input-group-btn,
.ei .input-group-btn {
	width: 15% !important;
}
.sr .input-group-btn button,
.si .input-group-btn button,
.ei .input-group-btn button
{
	width: 100%;
}

.no-radius-btn {
	border-top-left-radius: 0px;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 0px;
} 

.sr .input-group-sm > .form-control,
.si .input-group-sm > .form-control,
.ei .input-group-sm > .form-control {
	font-size: 17px;
}



/*-----------------------------------
	Search results css
	Everything starts with .sr class
------------------------------------*/

body {
	/*background: #f1f1f1;*/

}


.sr .container.bsrch {
	margin-top: 110px;
	margin-left: 200px;
	min-width: 1400px;
	min-height: 1100px;
}

.sr .bsrch .results, .sr .bsrch .details{
	float: left;
}
.sr .bsrch .results{
	min-width: 60%;
}
.sr .bsrch .details{
	min-width: 40%;
}

.sr .list-group-item{
	height: 100px;
	cursor: pointer;
}


.sr .list-group-item:hover{
	background: #e5e5e5;
}

.sr .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.sr .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.sr .container-fluid .col-lg-2 {
	width: 80px;
	height: 80px;
}

.sr .list-group-item .container-fluid .img-item > a >img {
	width: 60px;
	height: 80px;
	cursor: pointer;
}

.sr .container-fluid .col-lg-9 {
	height: 80px;
}

/*Details results*/
.sr .details .container {
	width: 448px;
	min-height: 500px;
	margin-left: 20px;
	position: fixed;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	background: white;
}

.sr .details .container .edit{
	font-size: x-small;
}

.sr .edit {
	margin-bottom: 0px !important;
	padding-right: 0px;
}
.sr .details .item-general {
	height: 160px;
}
.sr .inline{
	display:inline-block;
	float: left !important;
}

.sr .details .inline.gen-txt,  .sr .details .inline.gen-img{
	height: 100%;
}
.sr .details .inline.gen-img {
	width:30%;
}
.sr .details .inline.gen-img img{
	width: 100%;
	height: 100%;
}
.sr .details .inline.gen-txt {
	width: 70%;
	padding-right: 5px;
	position: relative;
}
.sr .details .inline.gen-txt h4, .sr .details .cmp-txt h4{
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px !important; 
}

.sr .recycle-itm-ico {
	position: absolute;
	bottom: 2px;
	left: 5px;
}

.sr .recycle-itm-ico span{
	margin-left: 7px;
}
.sr .recycle-itm-ico span:first-child{
	margin-left: 0px;
}
.tag-item {
	font-size: 12px;
	font-weight: normal;
	color: #A4A4A4;
}

.sr .container-fluid.itm-comp{
	margin-top: 15px;
}

.sr .panel-detail {
	width: 100%;
	height: 30px;
	background: #0a5175;
	text-align: center;
	font-weight: bold;
	color: white;
	margin-top: 5px;
}

.sr .panel-item-content {
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
	min-height: 20px;
	border-top-width: 0px;
	padding: 5px 5px 5px 5px;
}

.sr .panel-item-content:last-child  {
	margin-bottom: 7px;
}

.sr #const div.itm{
	margin-top: 7px;
	padding-top: 7px;
	height: 65px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.sr #const div.itm:first-child{
	margin-top: 0px;
	padding-top: 8px;
	border-top: 0px;
}

.sr .inline.cmp-img {
	width: 15%;
	height: 100%;
}
.sr .inline.cmp-img img{
	width: 100%;
	height: 100%;
}
.sr .inline.cmp-txt {
	width: 85%;
	height: 100%;
	padding-left: 15px;
}



/*-----------------------------------
	Selected item css
	Everything starts with .si class
	except nav bar
------------------------------------*/

.si .container.bslct {
	margin-top: 110px;
	/*margin-left: 200px;*/
	width: 1200px;
	min-height: 900px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	background: white;
	padding: 0px 0px 0px 0px;
}

.si .bslct .row-img-itm {
	height: 250px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	border-bottom-width: 1px;
}
.si .bslct .container {
	display: table;
	width: 350px;
	height: 250px;
}

.si .bslct .container .img-itm {
	display: table-cell;
	vertical-align: middle;
}
.si .bslct .container .img-itm {
	min-width: 500px;
}

.si .bslct .container .img-itm img.map, 
.si .bslct .container .img-itm img.itm{
	float: left;
}

.si .bslct .container .img-itm img.itm {
	width: 150px;
	height: 200px;
	cursor: pointer;
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
}

.si .bslct .container .img-itm img.map {
	width: 350px;
	height: 200px;
}
.si .row-scroll-comp{
	min-height: 250px;
	width: 100%;
}
.si .row-scroll-comp .container{
	width: 80%;
	height: 100%;
}
.si .row-scroll-comp .scroll{
	height: 160px;
	width: 100%;
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
	margin-top: 20px;
}
.si .inline{
	display:inline-block;
	float: left !important;
}

.si .inline.right-btn, 
.si .inline.left-btn{
	width: 28px;
	height: 100%;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 64px;
	cursor: pointer;
	background: #d8d8d8;
}

.si .inline.right-btn{
	border-left-style: solid;
	border-left-color: #d8d8d8;
	border-left-width: 1px;
}

.si .inline.left-btn{
	border-right-style: solid;
	border-right-color: #d8d8d8;
	border-right-width: 1px;
}

.si .inline.middle-cnt{
	width: 872px;
	height: 100%;
	padding: 25px 10px 25px 10px;
}

.si .row-scroll-comp .form-const{
	margin-top: 35px;
	padding-top: 20px;
	min-height: 300px;
	width: 100%;
	border-top-style: solid;
	border-top-color: #d8d8d8;
	border-top-width: 1px;
}

.si .inline.img {
	width: 100px;
	height: 108px;
	background: gray;
	margin-left: 10px;
}

.si .inline.img img{
	width: 100px;
	height: 108px;
	cursor: pointer;
}

/*-----------------------------------
	Selected item new design css
	Everything starts with .ei class
	except nav bar
------------------------------------*/

.ei .container-fluid.bslct {
	margin-top: 50px;
	min-height: 500px;
}

.ei .container-fluid.bslct .container.central{
	width: 70%;
	min-width: 1000px;
	height: 450px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 60px;
}

.ei .container.central .jumb-custom{
	height: 520px;
	min-width: 1050px;
	background: #eee;
	border-radius: 3px 3px 3px 3px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.ei .container.central .jumb-cmp-custom{
	height: 300px;
	min-width: 1050px;
	background: #eee;
	border-radius: 3px 3px 3px 3px;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.ei .container.central .jumb-cmp-custom:last-child{
	margin-bottom: 50px;
}

.ei .container.central .jumb-custom .block {
	min-width: 1050px;
	height: 400px;
}

.ei .container.central .jumb-custom .col-form{
	width: 65%;
	min-width: 683px;
	height: 100%;
}
.ei .container.central .jumb-custom .block .col-form form{
	height: 400px;
	min-width: 683px;
}
.ei .container.central .jumb-custom .col-img{
	min-width: 300px !important;
	margin-left: 50px;
	height: 100%;
}
.ei .container.central .jumb-custom .col-img button{
	margin-top: 15px;
	width: 100%;
}

.ei .container.central .jumb-custom .img-itm-form{
	width: 300px;
	height: 350px;
}

.ei .container.central .jumb-custom .img-itm-form img{
	width: 100%;
	height: 100%;
}

.ei .inline{
	display:inline-block;
	float: left !important;
}

.ei .form-group.action{
	margin-top: 144px;
}

.ei .container.central .jumb-cmp-custom .container{
	width: 80%;
	min-width: 1050px;
	height: 100%; 
	padding: 0px 0px 0px 0px;
}

.ei .container.central .jumb-cmp-custom .col-cmp-img{
	width: 200px !important;
	margin-right: 40px;
	height: 100%;
}

.ei .container.central .jumb-cmp-custom .col-cmp-img img{
	width:100%;
	height: 100%;
	background: white;
}

.ei .container.central .jumb-cmp-custom .col-cmp-form {
	width: 77%;
	height: 100%;
}

.ei .container.central .jumb-cmp-custom .container .col-cmp-form form{
	height: 100%;
	width: 100%;
}

.ei .form-group.action-cmp{
	margin-top: 72px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}