body {
	/*#333333  #d8d8d8*/
	background-color: #d8d8d8;
	min-height: 1200px;
	padding-bottom: 0px;
}
/* navbar */
.navbar {
	width: 100%;
}
.nav {
	background: #0a5175;
	height: 50px;
}
.nav > .container {
	width: 1050px;
	height: 100%;
	margin: none auto none auto;
}
.nav > .container > .col-md-1 {
	width: 144px;
	height: 100%;
	
}
.nav > .container > .col-md-1 > a {
	font-weight: bold;
	color: white;
}
.usr-icon > a{
	height: 100%;
}
.no-padding {
	padding: none none none none;
}
.no-margin {
	margin: none none none none;
}
/*search details*/
.search{
	background: white;
	margin: 50px  none none  none;
	height: 70px !important;
}
.search > .container{
	width: 1050px;
	height: 100%;
	margin: none auto none auto;
}
.no-radius {
	border-radius: 0px 0px 0px 0px;
}
.no-radius-btn {
	border-top-left-radius: 0px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0px;
}
.radius-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0px;
}

.container > .col-lg-8 {
	margin-left: auto;
	margin-right: auto;
}

/*search results*/
.results > .container {
	width: 691px;
	height: 900px;
	margin-top: 30px;
	border-radius: 5px 5px 0px 0px;
}

.results > .container > .list-group{
	width: 690px;
}
.container-fluid > .col-lg-2 {
	width: 80px;
	height: 80px;
}
.list-group-item > .container-fluid > .img-item > a >img {
	width: 60px;
	height: 80px;
}
.container-fluid > .col-lg-9{
	height: 80px;
}

/*item details*/

.item-details > .container {
	width: 600px;
	height: 900px;
	margin-top: 30px;
	

}
.item-details > .container > .col-lg-5{
	width: 600px;
	min-height: 400px;
	border-radius: 5px;
	background: white;
	padding: 5px 10px 10px 10px;
}

.img-item-detail{
	width: 140px;
	height: 160px;
	margin-top: 20px;
}

.img-item-component {
	width: 65px;
	height: 65px;
}

.panel-detail {
	width: 100%;
	height: 30px;
	background: #0a5175;
	text-align: center;
	font-weight: bold;
	color: white;
	margin-top: 5px;
}

.panel-item-content {
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
	border-top-width: 0px;
	padding: 5px 5px 5px 5px;
}

.ico-trash {
	margin-left: 10px;
}

.ico-trash:first-child {
	margin-left: 0px;
}

.width-all {
	width: 100%;
}

#constituents > table{
	margin-bottom: 0px !important; 
}