/*-----------------------------------
	nav bar css
	Everything starts with .sr class
------------------------------------*/

.sr .navbar,
.si .navbar,
.si-t .navbar{
	height: 50px;
	background: #0a5175;
}

.inline-header{
	display:inline-block;
	float: left !important;
}

.sr .logo,
.si .logo,
.si-t .logo {
	width: 200px;
	height: 50px;
	
}

.sr .search-bloc,
.si .search-bloc,
.si-t .search-bloc {
	width: 700px;
	height: 50px;
}

.sr .other,
.si .other 
.si-t .other, {

	width: 200px;
	height: 50px;
}
.sr .logo, .sr .search-bloc, .sr .other,
.si .logo, .si .search-bloc, .si .other, 
.si-t .logo, .si-t .search-bloc, .si-t .other
{
	display: table;
}

.sr .indiv,
.si .indiv,
.si-t .indiv {
	display: table-cell;
	vertical-align: middle;
}

.sr .logo h4,
.si .logo h4,
.si-t .logo h4  {
	color: white;
	font-weight: bold;
	text-align: center;
}

.no-radius {
	border-radius: 0px 0px 0px 0px !important;
}

.no-radius-input {
	border-top-left-radius: 2px !important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 2px !important;
}

.sr .input-group,
.si .input-group,
.si-t .input-group{
	width: 700px;
	height: 30px;
}

.sr .input-group-btn,
.si .input-group-btn,
.si-t .input-group-btn {
	width: 15% !important;
}
.sr .input-group-btn button,
.si .input-group-btn button,
.si-t .input-group-btn button
{
	width: 100%;
}

.no-radius-btn {
	border-top-left-radius: 0px;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 0px;
} 

.sr .input-group-sm > .form-control,
.si .input-group-sm > .form-control,
.si-t .input-group-sm > .form-control {
	font-size: 17px;
}



/*-----------------------------------
	Search results css
	Everything starts with .sr class
------------------------------------*/

body {
	/*background: #f1f1f1;*/

}


.sr .container.bsrch {
	margin-top: 110px;
	margin-left: 200px;
	min-width: 1400px;
	min-height: 1100px;
}

.sr .bsrch .results, .sr .bsrch .details{
	float: left;
}
.sr .bsrch .results{
	min-width: 60%;
}
.sr .bsrch .details{
	min-width: 40%;
}

.sr .list-group-item{
	height: 100px;
	cursor: pointer;
}


.sr .list-group-item:hover{
	background: #e5e5e5;
}

.sr .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.sr .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.sr .container-fluid .col-lg-2 {
	width: 80px;
	height: 80px;
}

.sr .list-group-item .container-fluid .img-item > a >img {
	width: 60px;
	height: 80px;
	cursor: pointer;
}

.sr .container-fluid .col-lg-9 {
	height: 80px;
}

/*Details results*/
.sr .details .container {
	width: 448px;
	min-height: 500px;
	margin-left: 20px;
	position: fixed;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	background: white;
}

.sr .details .container .edit{
	font-size: x-small;
}

.sr .edit {
	margin-bottom: 0px !important;
	padding-right: 0px;
}
.sr .details .item-general {
	height: 160px;
}
.sr .inline{
	display:inline-block;
	float: left !important;
}

.sr .details .inline.gen-txt,  .sr .details .inline.gen-img{
	height: 100%;
}
.sr .details .inline.gen-img {
	width:30%;
}
.sr .details .inline.gen-img img{
	width: 100%;
	height: 100%;
}
.sr .details .inline.gen-txt {
	width: 70%;
	padding-right: 5px;
	position: relative;
}
.sr .details .inline.gen-txt h4, .sr .details .cmp-txt h4{
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px !important; 
}

.sr .recycle-itm-ico {
	position: absolute;
	bottom: 2px;
	left: 5px;
}

.sr .recycle-itm-ico span{
	margin-left: 7px;
}
.sr .recycle-itm-ico span:first-child{
	margin-left: 0px;
}
.tag-item {
	font-size: 12px;
	font-weight: normal;
	color: #A4A4A4;
}

.sr .container-fluid.itm-comp{
	margin-top: 15px;
}

.sr .panel-detail {
	width: 100%;
	height: 30px;
	background: #0a5175;
	text-align: center;
	font-weight: bold;
	color: white;
	margin-top: 5px;
}

.sr .panel-item-content {
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
	min-height: 20px;
	border-top-width: 0px;
	padding: 5px 5px 5px 5px;
}

.sr .panel-item-content:last-child  {
	margin-bottom: 7px;
}

.sr #const div.itm{
	margin-top: 7px;
	padding-top: 7px;
	height: 65px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.sr #const div.itm:first-child{
	margin-top: 0px;
	padding-top: 8px;
	border-top: 0px;
}

.sr .inline.cmp-img {
	width: 15%;
	height: 100%;
}
.sr .inline.cmp-img img{
	width: 100%;
	height: 100%;
}
.sr .inline.cmp-txt {
	width: 85%;
	height: 100%;
	padding-left: 15px;
}



/*-----------------------------------
	Selected item css
	Everything starts with .si class
	except nav bar
------------------------------------*/

.si .container.bslct {
	margin-top: 110px;
	/*margin-left: 200px;*/
	width: 1200px;
	min-height: 900px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	background: white;
	padding: 0px 0px 0px 0px;
}

.si .bslct .row-img-itm {
	height: 250px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	border-bottom-width: 1px;
}
.si .bslct .container {
	display: table;
	width: 350px;
	height: 250px;
}

.si .bslct .container .img-itm {
	display: table-cell;
	vertical-align: middle;
}
.si .bslct .container .img-itm {
	min-width: 500px;
}

.si .bslct .container .img-itm img.map, 
.si .bslct .container .img-itm img.itm{
	float: left;
}

.si .bslct .container .img-itm img.itm {
	width: 150px;
	height: 200px;
	cursor: pointer;
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
}

.si .bslct .container .img-itm img.map {
	width: 350px;
	height: 200px;
}
.si .row-scroll-comp{
	min-height: 250px;
	width: 100%;
}
.si .row-scroll-comp .container{
	width: 80%;
	height: 100%;
}
.si .row-scroll-comp .scroll{
	height: 160px;
	width: 100%;
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
	margin-top: 20px;
}
.si .inline{
	display:inline-block;
	float: left !important;
}

.si .inline.right-btn, 
.si .inline.left-btn{
	width: 28px;
	height: 100%;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 64px;
	cursor: pointer;
	background: #d8d8d8;
}

.si .inline.right-btn{
	border-left-style: solid;
	border-left-color: #d8d8d8;
	border-left-width: 1px;
}

.si .inline.left-btn{
	border-right-style: solid;
	border-right-color: #d8d8d8;
	border-right-width: 1px;
}

.si .inline.middle-cnt{
	width: 872px;
	height: 100%;
	padding: 25px 10px 25px 10px;
}

.si .row-scroll-comp .form-const{
	margin-top: 35px;
	padding-top: 20px;
	min-height: 300px;
	width: 100%;
	border-top-style: solid;
	border-top-color: #d8d8d8;
	border-top-width: 1px;
}

.si .inline.img {
	width: 100px;
	height: 108px;
	background: gray;
	margin-left: 10px;
}

.si .inline.img img{
	width: 100px;
	height: 108px;
	cursor: pointer;
}

/*-----------------------------------
	Selected item new design css
	Everything starts with .si-t class
	except nav bar
------------------------------------*/

.si-t .container-fluid.bslct-new {
	margin-top: 50px;
	/*margin-left: 200px;*/
	
}

.si-t .itm-row,
.si-t .map-row
{
	height: 600px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	border-bottom-width: 1px;
}

.si-t .itm-row .container,
.si-t .map-row .container {
	padding: 60px 0px 60px 0px;
	height: 100%;
	width: 1200px;
}

.si-t .inline{
	display:inline-block;
	float: left !important;
}
.si-t .itm-row .container .itm-img-set,
.si-t .itm-row .container .itm-frm-set{
	height: 100%;
	border-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
}

.si-t .itm-row .container .itm-img-set{
	width: 480px;
	background: #d8d8d8;
	display: table;
}
.si-t .itm-row .container .itm-frm-set{
	width: 720px;
	padding: 20px 20px 20px 20px;
	display: table;
}

.si-t .container .itm-img-set .img-vw{
	width: 280px;
	height: 340px;
	position: relative;
	top: 20px;
	left: 100px;
	right: 100px;
}

.si-t .container .itm-img-set .img-vw img{
	width: 100%;
	height: 100%;
}

.si-t .container .itm-img-set .slide{
	width: 378px;
	height: 100px;
	position: relative;
	top: 20px;
	left: 51px;
	right: 51px;
	
}

.si-t .container .inner-slide{
	height: 100%;
	width: 100%;
	padding: 10px 0px 0px 0px;
}

.si-t .container .inner-slide .inline{
	display:inline-block;
	float: left !important;
}

.si-t .container .inner-slide .inline.middle{
	width: 330px;
	height: 100%;
	padding: 5px 5px 5px 5px;
}

.si-t .container .inner-slide .inline.left-click,
.si-t .container .inner-slide .inline.right-click{
	width: 24px;
	height: 100%;
	padding-top: 30px;
	cursor: pointer;
}


.si-t .container .inner-slide .inline.middle .inner-pagin{
	width: 100%;
	height: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.si-t .container .inline.middle  ul.list-inline {
	padding-left: 17px;
}

.si-t .container .inline.middle  ul.list-inline li{
	width: 65px;
	height: 68px;
	margin: 5px 3px 5px 3px;
	padding: 0px 0px 0px 0px;
	background: white;
	cursor: pointer;
}

.si-t .container .inline.middle  ul.list-inline li img{
	width: 100%;
	height: 100%;
}

.si-t .container .inline.middle  ul.list-inline li img:hover{
	-webkit-filter: grayscale(100%);
	opacity: 0.5;
}

.si-t .img-active {
	-webkit-filter: grayscale(100%);
	opacity: 0.5;
}

.si-t .itm-row .container .itm-frm-set h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 45px;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
}

.si-t .itm-row .container .itm-frm-set p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 22px;
}


.si-t .itm-row .container .itm-frm-set p .fl{
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 22px;
}

.si-t .itm-row .container .itm-frm-set div.edit-btn{
	display: table-cell;
	vertical-align: bottom;
	left: 0px;
}

.si-t .map-row .container .map {
	width: 100%;
	height: 100%;
}


.si-t .map-row .container {
	padding: 60px 0px 60px 0px;
	height: 80%;
	width: 1200px;
}

.angular-google-map-container { height: 400px; }