
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modification type de déchet</h4>
</div>
<div class="modal-body">

  <h1>Hi there you reached the right modal content !!! lucky you :)</h1>

</div>
<div class="modal-footer">
    <div class="actions">
        <div class="right-align">
            <a class="btn btn-default" ng-click="save()">
                <i class="fa fa-check"></i>
                Enregistrer
            </a>
        </div>
    </div>
</div>