
<div class="container wst">
	<!-- Header -->
	  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="" ng-click="goBackHome($event)"><span class="txt-black" >Inwhichbin</span></a>
	      <div class="navbar-form input-group">
	        <input type="text" class="form-control" ame="query" id="query" ng-model="query">
	        <span class="input-group-btn">
	          <button class="btn btn-default" type="button" ng-click="submitForm($event)"> Go! </button>
	        </span>
	      </div><!-- /input-group -->
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navbar-right menu-elt">
	        <li class="menu-elt">
	            <!--<a href="" ng-click="goToCreateItem($event)"><span class="btn btn-default"> Action <i class="fa fa-caret-down"> </i></span></a>-->
	            <div class="btn-group menu-elt" dropdown>
	              <button type="button" class="btn btn-default btn-desc">Action</button>
	              <button type="button" class="btn btn-default dropdown-toggle btn-toogle">
	                <span class="caret"></span>
	                <span class="sr-only">Split button!</span>
	              </button>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="" ng-click="goToCreateItem($event)">Create Item</a></li>
	                <li><a href="" ng-click="goToWastes($event)">Manage Wastes</a></li>
	                <li><a href="" ng-click="goToTrashes($event)">Manage Trashes</a></li>
	              </ul>
	            </div>
	        </li>
	      </ul>
	    </div><!-- /.nav-collapse -->
	  </div><!-- /.container -->
	  </div><!-- /.navbar --><!-- Header end-->
	
	<div class="page-header">
	  <h1>Gestion des types de déchets</h1>
	</div>
	<div class="add-btn">
		<button class="btn btn-success" ng-click="createWaste()"><i class="fa fa-plus"> </i> Ajouter</button>
	</div>
	<table class="table table-hover table-bordered">
	  <thead>
	  	<tr>
	  		<th>Nom</th>
		  	<th>Description</th>
		  	<th>Acronym</th>
		  	<th>Type de poubelle</th>
		  	<th>Action</th>
		</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="waste in wastes">
	  		<td>{{waste.name}}</td>
	  		<td>{{waste.description || '...'}}</td>

	  		<td><span class="tooltip-acronym" tooltip-placement="right" tooltip="{{waste.acronym | acronymExplanation}}">{{waste.acronym || '...'}}</span></td>
	  		<td>
	  			<div>
	  				<span><i class="fa fa-trash-o fa-lg" tooltip-placement="bottom" tooltip="poubelle d'ordures ménagère"></i></span>
	  				<span><i class="fa fa-inbox fa-lg" tooltip-placement="bottom" tooltip="Borne d'apport volontaire"></i></span>
	  				<span><i class="fa fa-gears fa-lg" tooltip-placement="bottom" tooltip="Décheterie"></i></span>
	  			</div>
	  		</td>
	  		<td>
	  			<button class="btn btn-primary btn-xs" ng-click="editWaste($index)"><i class="fa fa-pencil-square-o"></i> Modifier</button>
	  			<button class="btn btn-danger btn-xs" ng-click="deleteWaste($index)"><i class="fa fa-trash-o"></i></button>
	  		</td>
	  	</tr>
	  </tbody>
	</table>

</div>