<div class="container-fluid ei">
  <!-- Header -->
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="inline-header logo">
        <div class="indiv">
            <h4>InWhichBin</h4>
        </div>
    </div>
    <div class="inline-header search-bloc">
        <div class="indiv container-fluid">
             <div class="input-group input-group-sm">
                <input type="text" class="form-control no-radius-input" placeholder="Search" name="query" id="query" ng-model="query">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-sm no-radius-btn" type="submit" ng-click="submitForm($event)"><i class="fa fa-search" ></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="inline-header other">
        <div class="indiv">
            <div class="pull-right"></div>
        </div>
    </div>
    </div> <!-- Header end-->

    <div class="container-fluid bslct">
        <div class="container central">
            <div class="jumb-custom">
                <div class="block">
                    <div class="inline col-form">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="itemName" class="col-sm-2 control-label">Nom produit</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="itemName" placeholder="Nom produit" ng-model="item.name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="itemBarcode" class="col-sm-2 control-label">Codebarre</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="itemBarcode" placeholder="Codebarre" ng-model="item.barcode">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" rows="3" ng-model="item.description"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Type de déchet</label>
                          <div class="col-sm-10">
                            <select class="form-control" ng-model="item.wasteType" ng-options="waste as waste.name for waste in wastes">
                            </select>
                          </div>
                      </div>
                      <div class="form-group action">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="deleteItem()"><i class="fa fa-trash-o"> Supprimer</i></button>
                            <button class="btn btn-primary" ng-click="pushUpdateToServer()"><i class="fa fa-floppy-o"> Sauvegarder</i></button>
                            <button class="btn btn-success pull-right" ng-click="newConstituent()"><i class="fa fa-plus-circle"> Ajouter un composant</i></button>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="inline col-img">
                    <div class="img-itm-form"><img ng-src="{{item.image}}" class="img-rounded"></div>
                    <button class="btn btn-default btn-file"><i class="fa fa-upload"> Uploader l'image</i><input type="file" ng-file-select="uploadImage($files,-1)"></button>
                </div>
                </div>
            </div>
            <div class="jumb-cmp-custom" ng-repeat="constituent in item.constituents">
                <div class="container">
                    <div class="inline col-cmp-img">
                        <img ng-src="{{constituent.image}}" class="img-rounded">
                    </div>
                    <div class="inline col-cmp-form">
                        <form role="form">
                          <div class="form-group">
                            <label>Nom du composant</label>
                            <input type="text" class="form-control" placeholder="Nom du composant" ng-model="constituent.name">
                          </div>
                          <div class="form-group">
                            <label>Type de déchet composant</label>
                            <select class="form-control" ng-model="item.constituents[$index].wasteType" ng-options="waste as waste.name for waste in wastes">
                            </select>
                          </div>
                          <div class="form-group action-cmp">
                            <button class="btn btn-primary btn-file"><i class="fa fa-upload"> Uploader l'image</i><input type="file" ng-file-select="uploadImage($files,$index)"></button>
                            <button class="btn btn-default" ng-click="deleteConstituent($index)"><i class="fa fa-trash-o"> Supprimer</i></button>
                            <button class="btn btn-success pull-right" ng-click="newConstituent()"><i class="fa fa-plus-circle"> Nouveau composant</i></button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>