<div class="container-fluid si-t">
  <!-- Header -->
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="inline-header logo">
        <div class="indiv">
            <h4>InWhichBin</h4>
        </div>
    </div>
    <div class="inline-header search-bloc">
        <div class="indiv container-fluid">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control no-radius-input" placeholder="Search" name="query" id="query" ng-model="queryString">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-sm no-radius-btn" type="submit" ng-click="submitForm($event)"><i class="fa fa-search" ></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="inline-header other">
        <div class="indiv">
            <div class="pull-right">test</div>
        </div>
    </div>
    </div> <!-- Header end-->

    <div class="container-fluid bslct-new">
	    <div class="row itm-row">
	  		<div class="container">
	  			<div class="inline itm-img-set">
	  				<div class="img-vw">
	  					<img ng-src="{{curImage}}">
	  				</div>
	  				<div class="slide">
	  					<div class="inner-slide">
	  						<div class="inline left-click" ng-disabled="currentPage == 0" ng-click="leftClick()">
	  							<i class="fa fa-arrow-circle-left fa-2x"></i>
	  						</div>
	  						<div class="inline middle">
	  							<div class="inner-pagin">
	  								<ul class="list-inline">
	  									<li ng-repeat="thumb in thumbnailDataResized">
								            <img ng-src="{{thumb.image}}"  ng-click="editform(thumb.position)">
								        </li>
	  								</ul>
	  							</div>
	  						</div>
	  						<div class="inline right-click" ng-click="righClick()">
	  							<i class="fa fa-arrow-circle-right fa-2x"></i>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="inline itm-frm-set">
	  			<!--
		  			<h1>{{name_field | uppercase}}</h1>
		  			<p><span class="fl">Codebarre:</span> {{item.barcode}}</p>
		  			<p><span class="fl">Nombre de Composants:</span> {{item.constituents.length || 0}}</p>
		  			<p><span class="fl">Fabriquant:</span>  {{item.manufacturer || '--'}}</p>
		  			<p><span class="fl">Dernière modification:</span> 02/02/2014</p>
		  			<p><span class="fl">Informations recyclage du produit:</span><b></b> : 02/02/2014</p>
		  			<div class="edit-btn">
		  				<button class="btn btn-default edit">edit form</button>

		  			</div>
		  			-->

		  			<div class="form-const">
                    <form role="form">
                      <div class="form-group">
                        <label for="itemName">Nom produit</label>
                        <input type="text" class="form-control no-radius" id="itemName" placeholder="NUTELLA" ng-model="name_field">
                      </div>
                      <div class="form-group">
                        <label for="itemBarCode">Code barre</label>
                        <input type="text" class="form-control no-radius" id="itemBarCode" placeholder="15778906567" ng-disabled="isConstituent" ng-model="barcode_field">
                      </div>
                      <div class="form-group">
                        <label for="imageUrl">Changer l'image</label>
                        <input type="file" id="imageUrl">
                      </div>
                      <div class="form-group">
                        <select class="form-control" id="myselection" ng-model="waste_selected" ng-options="w.name for w in wastes"></select>
                      </div>
                      <button type="submit" class="btn btn-default pull-right" ng-click="submitForm($event)">Submit</button>
                    </form>
                	</div>
	  			</div>
	  		</div>
	    </div>
	    <div class="row map-row">
	    	<div class="container">
	    	<div class="map">
	    		<google-map center="map.center" zoom="map.zoom" draggable="true">
	    			<marker coords="marker" ng-repeat="marker in markers"></marker>
	    		</google-map>

	    	</div>
	    	</div>
	    </div>

    </div>
    

</div>